# CSV2RDATA

In [205]:
import pandas as pd
import pyreadr
import glob

In [2]:
def show_enum(arr: []) -> {}:
    return {i:file for i,file in enumerate(arr)}

In [164]:
OBSERVED_DATA = 'observed_data'

In [165]:
paths = glob.glob(f'{OBSERVED_DATA}/**/**/**/*.csv')
show_enum(paths)

{0: 'observed_data/0_RioDePedras_Fluviais/Rio De Pedras Fluviais/cotas_C_46520000/cotas_C_46520000.csv',
 1: 'observed_data/0_RioDePedras_Fluviais/Rio De Pedras Fluviais/PerfilTransversal_C_46520000/PerfilTransversal_C_46520000.csv',
 2: 'observed_data/0_RioDePedras_Fluviais/Rio De Pedras Fluviais/vazoes_C_46520000/vazoes_C_46520000.csv',
 3: 'observed_data/10_Tagua_Fluviais/Tagua Fluviais/cotas_C_46415000/cotas_C_46415000.csv',
 4: 'observed_data/10_Tagua_Fluviais/Tagua Fluviais/cotas_C_46455000/cotas_C_46455000.csv',
 5: 'observed_data/10_Tagua_Fluviais/Tagua Fluviais/cotas_C_46490000/cotas_C_46490000.csv',
 6: 'observed_data/10_Tagua_Fluviais/Tagua Fluviais/cotas_C_46520000/cotas_C_46520000.csv',
 7: 'observed_data/10_Tagua_Fluviais/Tagua Fluviais/cotas_C_46543000/cotas_C_46543000.csv',
 8: 'observed_data/10_Tagua_Fluviais/Tagua Fluviais/cotas_C_46550000/cotas_C_46550000.csv',
 9: 'observed_data/10_Tagua_Fluviais/Tagua Fluviais/cotas_C_46570000/cotas_C_46570000.csv',
 10: 'observed_data/10_Tagua_Fluviais/Tagua Fluviais/cotas_C_46590000/cotas_C_46590000.csv',
 11: 'observed_data/10_Tagua_Fluviais/Tagua Fluviais/cotas_C_46610000/cotas_C_46610000.csv',
 12: 'observed_data/10_Tagua_Fluviais/Tagua Fluviais/cotas_C_46650000/cotas_C_46650000.csv',
 13: 'observed_data/10_Tagua_Fluviais/Tagua Fluviais/vazoes_C_46415000/vazoes_C_46415000.csv',
 14: 'observed_data/10_Tagua_Fluviais/Tagua Fluviais/vazoes_C_46455000/vazoes_C_46455000.csv',
 15: 'observed_data/10_Tagua_Fluviais/Tagua Fluviais/vazoes_C_46490000/vazoes_C_46490000.csv',
 16: 'observed_data/10_Tagua_Fluviais/Tagua Fluviais/vazoes_C_46520000/vazoes_C_46520000.csv',
 17: 'observed_data/10_Tagua_Fluviais/Tagua Fluviais/vazoes_C_46550000/vazoes_C_46550000.csv',
 18: 'observed_data/10_Tagua_Fluviais/Tagua Fluviais/vazoes_C_46570000/vazoes_C_46570000.csv',
 19: 'observed_data/10_Tagua_Fluviais/Tagua Fluviais/vazoes_C_46590000/vazoes_C_46590000.csv',
 20: 'observed_data/10_Tagua_Fluviais/Tagua Fluviais/vazoes_C_46610000/vazoes_C_46610000.csv',
 21: 'observed_data/10_Tagua_Fluviais/Tagua Fluviais/vazoes_C_46650000/vazoes_C_46650000.csv',
 22: 'observed_data/11_Fazenda_Macambira_Fluviais/Fazanda Macambira Fluviais/cotas_C_46415000/cotas_C_46415000.csv',
 23: 'observed_data/11_Fazenda_Macambira_Fluviais/Fazanda Macambira Fluviais/cotas_C_46455000/cotas_C_46455000.csv',
 24: 'observed_data/11_Fazenda_Macambira_Fluviais/Fazanda Macambira Fluviais/cotas_C_46490000/cotas_C_46490000.csv',
 25: 'observed_data/11_Fazenda_Macambira_Fluviais/Fazanda Macambira Fluviais/cotas_C_46520000/cotas_C_46520000.csv',
 26: 'observed_data/11_Fazenda_Macambira_Fluviais/Fazanda Macambira Fluviais/cotas_C_46543000/cotas_C_46543000.csv',
 27: 'observed_data/11_Fazenda_Macambira_Fluviais/Fazanda Macambira Fluviais/cotas_C_46550000/cotas_C_46550000.csv',
 28: 'observed_data/11_Fazenda_Macambira_Fluviais/Fazanda Macambira Fluviais/cotas_C_46570000/cotas_C_46570000.csv',
 29: 'observed_data/11_Fazenda_Macambira_Fluviais/Fazanda Macambira Fluviais/cotas_C_46590000/cotas_C_46590000.csv',
 30: 'observed_data/11_Fazenda_Macambira_Fluviais/Fazanda Macambira Fluviais/cotas_C_46610000/cotas_C_46610000.csv',
 31: 'observed_data/11_Fazenda_Macambira_Fluviais/Fazanda Macambira Fluviais/cotas_C_46650000/cotas_C_46650000.csv',
 32: 'observed_data/11_Fazenda_Macambira_Fluviais/Fazanda Macambira Fluviais/cotas_C_46675000/cotas_C_46675000.csv',
 33: 'observed_data/11_Fazenda_Macambira_Fluviais/Fazanda Macambira Fluviais/vazoes_C_46415000/vazoes_C_46415000.csv',
 34: 'observed_data/11_Fazenda_Macambira_Fluviais/Fazanda Macambira Fluviais/vazoes_C_46455000/vazoes_C_46455000.csv',
 35: 'observed_data/11_Fazenda_Macambira_Fluviais/Fazanda Macambira Fluviais/vazoes_C_46490000/vazoes_C_46490000.csv',
 36: 'observed_data/11_Fazenda_Macambira_Fluviais/Fazanda Macambira Fluviais/vazoes_C_46520000/vazoes_C_46520000.csv',
 37: 'observed_data/11_Fazenda_Macambira_Fluviais/Fazanda Macambira Fluviais/vazoes_C_46550000/vazoes_C_46550000.csv',
 38: 'observed_data/11_Fazenda_Macambira_Fluviais/Fazanda Macambira Fluviais/vazoes_C_46570000/vazoes_C_46570000.csv',
 39: 'observed_data/11_Fazenda_Macambira_Fluviais/Fazanda Macambira Fluviais/vazoes_C_46590000/vazoes_C_46590000.csv',
 40: 'observed_data/11_Fazenda_Macambira_Fluviais/Fazanda Macambira Fluviais/vazoes_C_46610000/vazoes_C_46610000.csv',
 41: 'observed_data/11_Fazenda_Macambira_Fluviais/Fazanda Macambira Fluviais/vazoes_C_46650000/vazoes_C_46650000.csv',
 42: 'observed_data/11_Fazenda_Macambira_Fluviais/Fazanda Macambira Fluviais/vazoes_C_46675000/vazoes_C_46675000.csv',
 43: 'observed_data/12_Vereda_Do_Gado_Fluviais/Vereda Do Gado Fluviais/cotas_C_46415000/cotas_C_46415000.csv',
 44: 'observed_data/12_Vereda_Do_Gado_Fluviais/Vereda Do Gado Fluviais/cotas_C_46455000/cotas_C_46455000.csv',
 45: 'observed_data/12_Vereda_Do_Gado_Fluviais/Vereda Do Gado Fluviais/cotas_C_46490000/cotas_C_46490000.csv',
 46: 'observed_data/12_Vereda_Do_Gado_Fluviais/Vereda Do Gado Fluviais/cotas_C_46520000/cotas_C_46520000.csv',
 47: 'observed_data/12_Vereda_Do_Gado_Fluviais/Vereda Do Gado Fluviais/cotas_C_46543000/cotas_C_46543000.csv',
 48: 'observed_data/12_Vereda_Do_Gado_Fluviais/Vereda Do Gado Fluviais/cotas_C_46550000/cotas_C_46550000.csv',
 49: 'observed_data/12_Vereda_Do_Gado_Fluviais/Vereda Do Gado Fluviais/cotas_C_46570000/cotas_C_46570000.csv',
 50: 'observed_data/12_Vereda_Do_Gado_Fluviais/Vereda Do Gado Fluviais/cotas_C_46590000/cotas_C_46590000.csv',
 51: 'observed_data/12_Vereda_Do_Gado_Fluviais/Vereda Do Gado Fluviais/cotas_C_46610000/cotas_C_46610000.csv',
 52: 'observed_data/12_Vereda_Do_Gado_Fluviais/Vereda Do Gado Fluviais/cotas_C_46650000/cotas_C_46650000.csv',
 53: 'observed_data/12_Vereda_Do_Gado_Fluviais/Vereda Do Gado Fluviais/cotas_C_46675000/cotas_C_46675000.csv',
 54: 'observed_data/12_Vereda_Do_Gado_Fluviais/Vereda Do Gado Fluviais/vazoes_C_46415000/vazoes_C_46415000.csv',
 55: 'observed_data/12_Vereda_Do_Gado_Fluviais/Vereda Do Gado Fluviais/vazoes_C_46455000/vazoes_C_46455000.csv',
 56: 'observed_data/12_Vereda_Do_Gado_Fluviais/Vereda Do Gado Fluviais/vazoes_C_46490000/vazoes_C_46490000.csv',
 57: 'observed_data/12_Vereda_Do_Gado_Fluviais/Vereda Do Gado Fluviais/vazoes_C_46520000/vazoes_C_46520000.csv',
 58: 'observed_data/12_Vereda_Do_Gado_Fluviais/Vereda Do Gado Fluviais/vazoes_C_46550000/vazoes_C_46550000.csv',
 59: 'observed_data/12_Vereda_Do_Gado_Fluviais/Vereda Do Gado Fluviais/vazoes_C_46570000/vazoes_C_46570000.csv',
 60: 'observed_data/12_Vereda_Do_Gado_Fluviais/Vereda Do Gado Fluviais/vazoes_C_46590000/vazoes_C_46590000.csv',
 61: 'observed_data/12_Vereda_Do_Gado_Fluviais/Vereda Do Gado Fluviais/vazoes_C_46610000/vazoes_C_46610000.csv',
 62: 'observed_data/12_Vereda_Do_Gado_Fluviais/Vereda Do Gado Fluviais/vazoes_C_46650000/vazoes_C_46650000.csv',
 63: 'observed_data/12_Vereda_Do_Gado_Fluviais/Vereda Do Gado Fluviais/vazoes_C_46675000/vazoes_C_46675000.csv',
 64: 'observed_data/13_Fazenda_Bom_Jardim_Fluviais/Fazenda Bom Jardim Fluviais/cotas_C_46415000/cotas_C_46415000.csv',
 65: 'observed_data/13_Fazenda_Bom_Jardim_Fluviais/Fazenda Bom Jardim Fluviais/cotas_C_46455000/cotas_C_46455000.csv',
 66: 'observed_data/13_Fazenda_Bom_Jardim_Fluviais/Fazenda Bom Jardim Fluviais/cotas_C_46490000/cotas_C_46490000.csv',
 67: 'observed_data/13_Fazenda_Bom_Jardim_Fluviais/Fazenda Bom Jardim Fluviais/cotas_C_46520000/cotas_C_46520000.csv',
 68: 'observed_data/13_Fazenda_Bom_Jardim_Fluviais/Fazenda Bom Jardim Fluviais/cotas_C_46543000/cotas_C_46543000.csv',
 69: 'observed_data/13_Fazenda_Bom_Jardim_Fluviais/Fazenda Bom Jardim Fluviais/cotas_C_46550000/cotas_C_46550000.csv',
 70: 'observed_data/13_Fazenda_Bom_Jardim_Fluviais/Fazenda Bom Jardim Fluviais/cotas_C_46570000/cotas_C_46570000.csv',
 71: 'observed_data/13_Fazenda_Bom_Jardim_Fluviais/Fazenda Bom Jardim Fluviais/cotas_C_46590000/cotas_C_46590000.csv',
 72: 'observed_data/13_Fazenda_Bom_Jardim_Fluviais/Fazenda Bom Jardim Fluviais/cotas_C_46610000/cotas_C_46610000.csv',
 73: 'observed_data/13_Fazenda_Bom_Jardim_Fluviais/Fazenda Bom Jardim Fluviais/cotas_C_46650000/cotas_C_46650000.csv',
 74: 'observed_data/13_Fazenda_Bom_Jardim_Fluviais/Fazenda Bom Jardim Fluviais/cotas_C_46675000/cotas_C_46675000.csv',
 75: 'observed_data/13_Fazenda_Bom_Jardim_Fluviais/Fazenda Bom Jardim Fluviais/cotas_C_46770000/cotas_C_46770000.csv',
 76: 'observed_data/13_Fazenda_Bom_Jardim_Fluviais/Fazenda Bom Jardim Fluviais/vazoes_C_46415000/vazoes_C_46415000.csv',
 77: 'observed_data/13_Fazenda_Bom_Jardim_Fluviais/Fazenda Bom Jardim Fluviais/vazoes_C_46455000/vazoes_C_46455000.csv',
 78: 'observed_data/13_Fazenda_Bom_Jardim_Fluviais/Fazenda Bom Jardim Fluviais/vazoes_C_46490000/vazoes_C_46490000.csv',
 79: 'observed_data/13_Fazenda_Bom_Jardim_Fluviais/Fazenda Bom Jardim Fluviais/vazoes_C_46520000/vazoes_C_46520000.csv',
 80: 'observed_data/13_Fazenda_Bom_Jardim_Fluviais/Fazenda Bom Jardim Fluviais/vazoes_C_46550000/vazoes_C_46550000.csv',
 81: 'observed_data/13_Fazenda_Bom_Jardim_Fluviais/Fazenda Bom Jardim Fluviais/vazoes_C_46570000/vazoes_C_46570000.csv',
 82: 'observed_data/13_Fazenda_Bom_Jardim_Fluviais/Fazenda Bom Jardim Fluviais/vazoes_C_46590000/vazoes_C_46590000.csv',
 83: 'observed_data/13_Fazenda_Bom_Jardim_Fluviais/Fazenda Bom Jardim Fluviais/vazoes_C_46610000/vazoes_C_46610000.csv',
 84: 'observed_data/13_Fazenda_Bom_Jardim_Fluviais/Fazenda Bom Jardim Fluviais/vazoes_C_46650000/vazoes_C_46650000.csv',
 85: 'observed_data/13_Fazenda_Bom_Jardim_Fluviais/Fazenda Bom Jardim Fluviais/vazoes_C_46675000/vazoes_C_46675000.csv',
 86: 'observed_data/13_Fazenda_Bom_Jardim_Fluviais/Fazenda Bom Jardim Fluviais/vazoes_C_46770000/vazoes_C_46770000.csv',
 87: 'observed_data/14_Formosa_Do_Rio_Preto_Fluviais/Formosa Do Rio Preto Fluviais/cotas_C_46415000/cotas_C_46415000.csv',
 88: 'observed_data/14_Formosa_Do_Rio_Preto_Fluviais/Formosa Do Rio Preto Fluviais/cotas_C_46455000/cotas_C_46455000.csv',
 89: 'observed_data/14_Formosa_Do_Rio_Preto_Fluviais/Formosa Do Rio Preto Fluviais/cotas_C_46490000/cotas_C_46490000.csv',
 90: 'observed_data/14_Formosa_Do_Rio_Preto_Fluviais/Formosa Do Rio Preto Fluviais/cotas_C_46520000/cotas_C_46520000.csv',
 91: 'observed_data/14_Formosa_Do_Rio_Preto_Fluviais/Formosa Do Rio Preto Fluviais/cotas_C_46543000/cotas_C_46543000.csv',
 92: 'observed_data/14_Formosa_Do_Rio_Preto_Fluviais/Formosa Do Rio Preto Fluviais/cotas_C_46550000/cotas_C_46550000.csv',
 93: 'observed_data/14_Formosa_Do_Rio_Preto_Fluviais/Formosa Do Rio Preto Fluviais/cotas_C_46570000/cotas_C_46570000.csv',
 94: 'observed_data/14_Formosa_Do_Rio_Preto_Fluviais/Formosa Do Rio Preto Fluviais/cotas_C_46590000/cotas_C_46590000.csv',
 95: 'observed_data/14_Formosa_Do_Rio_Preto_Fluviais/Formosa Do Rio Preto Fluviais/cotas_C_46610000/cotas_C_46610000.csv',
 96: 'observed_data/14_Formosa_Do_Rio_Preto_Fluviais/Formosa Do Rio Preto Fluviais/cotas_C_46650000/cotas_C_46650000.csv',
 97: 'observed_data/14_Formosa_Do_Rio_Preto_Fluviais/Formosa Do Rio Preto Fluviais/cotas_C_46675000/cotas_C_46675000.csv',
 98: 'observed_data/14_Formosa_Do_Rio_Preto_Fluviais/Formosa Do Rio Preto Fluviais/cotas_C_46770000/cotas_C_46770000.csv',
 99: 'observed_data/14_Formosa_Do_Rio_Preto_Fluviais/Formosa Do Rio Preto Fluviais/cotas_C_46790000/cotas_C_46790000.csv',
 100: 'observed_data/14_Formosa_Do_Rio_Preto_Fluviais/Formosa Do Rio Preto Fluviais/vazoes_C_46415000/vazoes_C_46415000.csv',
 101: 'observed_data/14_Formosa_Do_Rio_Preto_Fluviais/Formosa Do Rio Preto Fluviais/vazoes_C_46455000/vazoes_C_46455000.csv',
 102: 'observed_data/14_Formosa_Do_Rio_Preto_Fluviais/Formosa Do Rio Preto Fluviais/vazoes_C_46490000/vazoes_C_46490000.csv',
 103: 'observed_data/14_Formosa_Do_Rio_Preto_Fluviais/Formosa Do Rio Preto Fluviais/vazoes_C_46520000/vazoes_C_46520000.csv',
 104: 'observed_data/14_Formosa_Do_Rio_Preto_Fluviais/Formosa Do Rio Preto Fluviais/vazoes_C_46550000/vazoes_C_46550000.csv',
 105: 'observed_data/14_Formosa_Do_Rio_Preto_Fluviais/Formosa Do Rio Preto Fluviais/vazoes_C_46570000/vazoes_C_46570000.csv',
 106: 'observed_data/14_Formosa_Do_Rio_Preto_Fluviais/Formosa Do Rio Preto Fluviais/vazoes_C_46590000/vazoes_C_46590000.csv',
 107: 'observed_data/14_Formosa_Do_Rio_Preto_Fluviais/Formosa Do Rio Preto Fluviais/vazoes_C_46610000/vazoes_C_46610000.csv',
 108: 'observed_data/14_Formosa_Do_Rio_Preto_Fluviais/Formosa Do Rio Preto Fluviais/vazoes_C_46650000/vazoes_C_46650000.csv',
 109: 'observed_data/14_Formosa_Do_Rio_Preto_Fluviais/Formosa Do Rio Preto Fluviais/vazoes_C_46675000/vazoes_C_46675000.csv',
 110: 'observed_data/14_Formosa_Do_Rio_Preto_Fluviais/Formosa Do Rio Preto Fluviais/vazoes_C_46770000/vazoes_C_46770000.csv',
 111: 'observed_data/14_Formosa_Do_Rio_Preto_Fluviais/Formosa Do Rio Preto Fluviais/vazoes_C_46790000/vazoes_C_46790000.csv',
 112: 'observed_data/15_Ibipetuba_Fluviais/Ibipetuba Fluviais/cotas_C_46415000/cotas_C_46415000.csv',
 113: 'observed_data/15_Ibipetuba_Fluviais/Ibipetuba Fluviais/cotas_C_46455000/cotas_C_46455000.csv',
 114: 'observed_data/15_Ibipetuba_Fluviais/Ibipetuba Fluviais/cotas_C_46490000/cotas_C_46490000.csv',
 115: 'observed_data/15_Ibipetuba_Fluviais/Ibipetuba Fluviais/cotas_C_46520000/cotas_C_46520000.csv',
 116: 'observed_data/15_Ibipetuba_Fluviais/Ibipetuba Fluviais/cotas_C_46543000/cotas_C_46543000.csv',
 117: 'observed_data/15_Ibipetuba_Fluviais/Ibipetuba Fluviais/cotas_C_46550000/cotas_C_46550000.csv',
 118: 'observed_data/15_Ibipetuba_Fluviais/Ibipetuba Fluviais/cotas_C_46570000/cotas_C_46570000.csv',
 119: 'observed_data/15_Ibipetuba_Fluviais/Ibipetuba Fluviais/cotas_C_46590000/cotas_C_46590000.csv',
 120: 'observed_data/15_Ibipetuba_Fluviais/Ibipetuba Fluviais/cotas_C_46610000/cotas_C_46610000.csv',
 121: 'observed_data/15_Ibipetuba_Fluviais/Ibipetuba Fluviais/cotas_C_46650000/cotas_C_46650000.csv',
 122: 'observed_data/15_Ibipetuba_Fluviais/Ibipetuba Fluviais/cotas_C_46675000/cotas_C_46675000.csv',
 123: 'observed_data/15_Ibipetuba_Fluviais/Ibipetuba Fluviais/cotas_C_46770000/cotas_C_46770000.csv',
 124: 'observed_data/15_Ibipetuba_Fluviais/Ibipetuba Fluviais/cotas_C_46790000/cotas_C_46790000.csv',
 125: 'observed_data/15_Ibipetuba_Fluviais/Ibipetuba Fluviais/cotas_C_46830000/cotas_C_46830000.csv',
 126: 'observed_data/15_Ibipetuba_Fluviais/Ibipetuba Fluviais/vazoes_C_46415000/vazoes_C_46415000.csv',
 127: 'observed_data/15_Ibipetuba_Fluviais/Ibipetuba Fluviais/vazoes_C_46455000/vazoes_C_46455000.csv',
 128: 'observed_data/15_Ibipetuba_Fluviais/Ibipetuba Fluviais/vazoes_C_46490000/vazoes_C_46490000.csv',
 129: 'observed_data/15_Ibipetuba_Fluviais/Ibipetuba Fluviais/vazoes_C_46520000/vazoes_C_46520000.csv',
 130: 'observed_data/15_Ibipetuba_Fluviais/Ibipetuba Fluviais/vazoes_C_46550000/vazoes_C_46550000.csv',
 131: 'observed_data/15_Ibipetuba_Fluviais/Ibipetuba Fluviais/vazoes_C_46570000/vazoes_C_46570000.csv',
 132: 'observed_data/15_Ibipetuba_Fluviais/Ibipetuba Fluviais/vazoes_C_46590000/vazoes_C_46590000.csv',
 133: 'observed_data/15_Ibipetuba_Fluviais/Ibipetuba Fluviais/vazoes_C_46610000/vazoes_C_46610000.csv',
 134: 'observed_data/15_Ibipetuba_Fluviais/Ibipetuba Fluviais/vazoes_C_46650000/vazoes_C_46650000.csv',
 135: 'observed_data/15_Ibipetuba_Fluviais/Ibipetuba Fluviais/vazoes_C_46675000/vazoes_C_46675000.csv',
 136: 'observed_data/15_Ibipetuba_Fluviais/Ibipetuba Fluviais/vazoes_C_46770000/vazoes_C_46770000.csv',
 137: 'observed_data/15_Ibipetuba_Fluviais/Ibipetuba Fluviais/vazoes_C_46790000/vazoes_C_46790000.csv',
 138: 'observed_data/16_Fazenda_Porto_Limpo_Fluviais/Fazendo Porto Limpo Fluviais/cotas_C_46415000/cotas_C_46415000.csv',
 139: 'observed_data/16_Fazenda_Porto_Limpo_Fluviais/Fazendo Porto Limpo Fluviais/cotas_C_46455000/cotas_C_46455000.csv',
 140: 'observed_data/16_Fazenda_Porto_Limpo_Fluviais/Fazendo Porto Limpo Fluviais/cotas_C_46490000/cotas_C_46490000.csv',
 141: 'observed_data/16_Fazenda_Porto_Limpo_Fluviais/Fazendo Porto Limpo Fluviais/cotas_C_46520000/cotas_C_46520000.csv',
 142: 'observed_data/16_Fazenda_Porto_Limpo_Fluviais/Fazendo Porto Limpo Fluviais/cotas_C_46543000/cotas_C_46543000.csv',
 143: 'observed_data/16_Fazenda_Porto_Limpo_Fluviais/Fazendo Porto Limpo Fluviais/cotas_C_46550000/cotas_C_46550000.csv',
 144: 'observed_data/16_Fazenda_Porto_Limpo_Fluviais/Fazendo Porto Limpo Fluviais/cotas_C_46570000/cotas_C_46570000.csv',
 145: 'observed_data/16_Fazenda_Porto_Limpo_Fluviais/Fazendo Porto Limpo Fluviais/cotas_C_46590000/cotas_C_46590000.csv',
 146: 'observed_data/16_Fazenda_Porto_Limpo_Fluviais/Fazendo Porto Limpo Fluviais/cotas_C_46610000/cotas_C_46610000.csv',
 147: 'observed_data/16_Fazenda_Porto_Limpo_Fluviais/Fazendo Porto Limpo Fluviais/cotas_C_46650000/cotas_C_46650000.csv',
 148: 'observed_data/16_Fazenda_Porto_Limpo_Fluviais/Fazendo Porto Limpo Fluviais/cotas_C_46675000/cotas_C_46675000.csv',
 149: 'observed_data/16_Fazenda_Porto_Limpo_Fluviais/Fazendo Porto Limpo Fluviais/cotas_C_46770000/cotas_C_46770000.csv',
 150: 'observed_data/16_Fazenda_Porto_Limpo_Fluviais/Fazendo Porto Limpo Fluviais/cotas_C_46790000/cotas_C_46790000.csv',
 151: 'observed_data/16_Fazenda_Porto_Limpo_Fluviais/Fazendo Porto Limpo Fluviais/cotas_C_46830000/cotas_C_46830000.csv',
 152: 'observed_data/16_Fazenda_Porto_Limpo_Fluviais/Fazendo Porto Limpo Fluviais/cotas_C_46870000/cotas_C_46870000.csv',
 153: 'observed_data/16_Fazenda_Porto_Limpo_Fluviais/Fazendo Porto Limpo Fluviais/vazoes_C_46415000/vazoes_C_46415000.csv',
 154: 'observed_data/16_Fazenda_Porto_Limpo_Fluviais/Fazendo Porto Limpo Fluviais/vazoes_C_46455000/vazoes_C_46455000.csv',
 155: 'observed_data/16_Fazenda_Porto_Limpo_Fluviais/Fazendo Porto Limpo Fluviais/vazoes_C_46490000/vazoes_C_46490000.csv',
 156: 'observed_data/16_Fazenda_Porto_Limpo_Fluviais/Fazendo Porto Limpo Fluviais/vazoes_C_46520000/vazoes_C_46520000.csv',
 157: 'observed_data/16_Fazenda_Porto_Limpo_Fluviais/Fazendo Porto Limpo Fluviais/vazoes_C_46550000/vazoes_C_46550000.csv',
 158: 'observed_data/16_Fazenda_Porto_Limpo_Fluviais/Fazendo Porto Limpo Fluviais/vazoes_C_46570000/vazoes_C_46570000.csv',
 159: 'observed_data/16_Fazenda_Porto_Limpo_Fluviais/Fazendo Porto Limpo Fluviais/vazoes_C_46590000/vazoes_C_46590000.csv',
 160: 'observed_data/16_Fazenda_Porto_Limpo_Fluviais/Fazendo Porto Limpo Fluviais/vazoes_C_46610000/vazoes_C_46610000.csv',
 161: 'observed_data/16_Fazenda_Porto_Limpo_Fluviais/Fazendo Porto Limpo Fluviais/vazoes_C_46650000/vazoes_C_46650000.csv',
 162: 'observed_data/16_Fazenda_Porto_Limpo_Fluviais/Fazendo Porto Limpo Fluviais/vazoes_C_46675000/vazoes_C_46675000.csv',
 163: 'observed_data/16_Fazenda_Porto_Limpo_Fluviais/Fazendo Porto Limpo Fluviais/vazoes_C_46770000/vazoes_C_46770000.csv',
 164: 'observed_data/16_Fazenda_Porto_Limpo_Fluviais/Fazendo Porto Limpo Fluviais/vazoes_C_46790000/vazoes_C_46790000.csv',
 165: 'observed_data/16_Fazenda_Porto_Limpo_Fluviais/Fazendo Porto Limpo Fluviais/vazoes_C_46870000/vazoes_C_46870000.csv',
 166: 'observed_data/17_Boqueirao_Fluviais/Boqueirao Fluviais/cotas_C_46415000/cotas_C_46415000.csv',
 167: 'observed_data/17_Boqueirao_Fluviais/Boqueirao Fluviais/cotas_C_46455000/cotas_C_46455000.csv',
 168: 'observed_data/17_Boqueirao_Fluviais/Boqueirao Fluviais/cotas_C_46490000/cotas_C_46490000.csv',
 169: 'observed_data/17_Boqueirao_Fluviais/Boqueirao Fluviais/cotas_C_46520000/cotas_C_46520000.csv',
 170: 'observed_data/17_Boqueirao_Fluviais/Boqueirao Fluviais/cotas_C_46543000/cotas_C_46543000.csv',
 171: 'observed_data/17_Boqueirao_Fluviais/Boqueirao Fluviais/cotas_C_46550000/cotas_C_46550000.csv',
 172: 'observed_data/17_Boqueirao_Fluviais/Boqueirao Fluviais/cotas_C_46570000/cotas_C_46570000.csv',
 173: 'observed_data/17_Boqueirao_Fluviais/Boqueirao Fluviais/cotas_C_46590000/cotas_C_46590000.csv',
 174: 'observed_data/17_Boqueirao_Fluviais/Boqueirao Fluviais/cotas_C_46610000/cotas_C_46610000.csv',
 175: 'observed_data/17_Boqueirao_Fluviais/Boqueirao Fluviais/cotas_C_46650000/cotas_C_46650000.csv',

In [166]:
df = pd.DataFrame()
for path in paths:
    try:
        template = {}

        text = path.split('/')
        value = text[-1].split('_')[0]
        template['source'] = text[-3].split(' ')[-1]
        template['station'] = ' '.join(text[-3].split(' ')[:-1])
        template['agency_cd'] = 'ANA'

        aux = pd.read_csv(path, encoding='latin', sep=';', header=None, decimal=',')

        # Get valid columns and rows
        idx = aux[aux.iloc[:,0] == 'EstacaoCodigo'].index[0]
        aux.columns = aux.iloc[idx]
        aux.drop(range(idx+1), inplace=True)
        aux.dropna(how='all', inplace=True)
        aux.drop(list(aux.filter(regex='Status')), axis=1, inplace=True)

        # Changes date format
        if 'Data' in aux.columns:
            aux['Data'] = pd.to_datetime(aux['Data'], format='%d/%m/%Y')
        if 'Hora' in aux.columns:
            aux['Hora'] = pd.to_datetime(aux['Hora'], format='%d/%m/%Y %H:%M').dt.strftime('%H:%M:%S')

        ts = []
        for i, row in aux.iterrows():
            template['code_station'] = row['EstacaoCodigo']
            template['date'] = row.get('Data')
            template['time'] = row.get('Hora')

            for col in aux.filter(regex='\d'):
                template[value] = str(row[col]).replace(',','.')
                ts.append(template.copy())
                template['date'] += pd.DateOffset(days=1)
        ts = pd.DataFrame(ts)
        ts = ts.set_index('date')
        df = pd.concat([df,ts])
    except Exception as e:
        print(f'[ERROR] {path}: {e}')
df

[ERROR] observed_data/0_RioDePedras_Fluviais/Rio De Pedras Fluviais/PerfilTransversal_C_46520000/PerfilTransversal_C_46520000.csv: Error tokenizing data. C error: Expected 1 fields in line 12, saw 15

,source,station,agency_cd,code_station,time,cotas,vazoes,chuvas
date,,,,,,,,
2019-03-01,Fluviais,Rio De Pedras,ANA,46520000,17:00:00,76,NaN,NaN
2019-03-02,Fluviais,Rio De Pedras,ANA,46520000,17:00:00,76,NaN,NaN
2019-03-03,Fluviais,Rio De Pedras,ANA,46520000,17:00:00,76,NaN,NaN
2019-03-04,Fluviais,Rio De Pedras,ANA,46520000,17:00:00,77,NaN,NaN
2019-03-05,Fluviais,Rio De Pedras,ANA,46520000,17:00:00,79,NaN,NaN
...,...,...,...,...,...,...,...,...
2019-03-27,Fluviais,Sao Sebastiao,ANA,46610000,NaN,NaN,118.325,NaN
2019-03-28,Fluviais,Sao Sebastiao,ANA,46610000,NaN,NaN,96.595,NaN
2019-03-29,Fluviais,Sao Sebastiao,ANA,46610000,NaN,NaN,106.918,NaN
2019-03-30,Fluviais,Sao Sebastiao,ANA,46610000,NaN,NaN,89.199,NaN
2019-03-31,Fluviais,Sao Sebastiao,ANA,46610000,NaN,NaN,83.964,NaN

In [167]:
df.to_csv(f'{OBSERVED_DATA}/full.csv')

Conversão para estrutura do RDATA

In [216]:
df = pd.read_csv(f'{OBSERVED_DATA}/full.csv')

In [217]:
station = 'Boqueirao'

In [218]:
df_station = df[df['station'] == station]
df_station

,date,source,station,agency_cd,code_station,time,cotas,vazoes,chuvas
10509,2019-03-01,Fluviais,Boqueirao,ANA,46415000,NaN,70.0,NaN,NaN
10510,2019-03-02,Fluviais,Boqueirao,ANA,46415000,NaN,76.0,NaN,NaN
10511,2019-03-03,Fluviais,Boqueirao,ANA,46415000,NaN,78.0,NaN,NaN
10512,2019-03-04,Fluviais,Boqueirao,ANA,46415000,NaN,78.0,NaN,NaN
10513,2019-03-05,Fluviais,Boqueirao,ANA,46415000,NaN,76.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
12426,2019-03-27,Fluviais,Boqueirao,ANA,46902000,NaN,NaN,278.966,NaN
12427,2019-03-28,Fluviais,Boqueirao,ANA,46902000,NaN,NaN,283.549,NaN
12428,2019-03-29,Fluviais,Boqueirao,ANA,46902000,NaN,NaN,290.136,NaN
12429,2019-03-30,Fluviais,Boqueirao,ANA,46902000,NaN,NaN,296.768,NaN
12430,2019-03-31,Fluviais,Boqueirao,ANA,46902000,NaN,NaN,304.114,NaN

In [219]:
df_station['site_no'] = 7422
df_station

/home/ferraz/.conda/envs/csv2rdata/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,date,source,station,agency_cd,code_station,time,cotas,vazoes,chuvas,site_no
10509,2019-03-01,Fluviais,Boqueirao,ANA,46415000,NaN,70.0,NaN,NaN,7422
10510,2019-03-02,Fluviais,Boqueirao,ANA,46415000,NaN,76.0,NaN,NaN,7422
10511,2019-03-03,Fluviais,Boqueirao,ANA,46415000,NaN,78.0,NaN,NaN,7422
10512,2019-03-04,Fluviais,Boqueirao,ANA,46415000,NaN,78.0,NaN,NaN,7422
10513,2019-03-05,Fluviais,Boqueirao,ANA,46415000,NaN,76.0,NaN,NaN,7422
...,...,...,...,...,...,...,...,...,...,...
12426,2019-03-27,Fluviais,Boqueirao,ANA,46902000,NaN,NaN,278.966,NaN,7422
12427,2019-03-28,Fluviais,Boqueirao,ANA,46902000,NaN,NaN,283.549,NaN,7422
12428,2019-03-29,Fluviais,Boqueirao,ANA,46902000,NaN,NaN,290.136,NaN,7422
12429,2019-03-30,Fluviais,Boqueirao,ANA,46902000,NaN,NaN,296.768,NaN,7422
12430,2019-03-31,Fluviais,Boqueirao,ANA,46902000,NaN,NaN,304.114,NaN,7422

In [220]:
cols = ['date', 'agency_cd', 'site_no', 'vazoes']
f1 = df_station['code_station'] == 46415000
f2 = df_station['time'].isnull()
df_filter = df_station.loc[f1&f2, cols]
df_filter

             date agency_cd  site_no  vazoes
10509  2019-03-01       ANA     7422     NaN
10510  2019-03-02       ANA     7422     NaN
10511  2019-03-03       ANA     7422     NaN
10512  2019-03-04       ANA     7422     NaN
10513  2019-03-05       ANA     7422     NaN
...           ...       ...      ...     ...
12023  2019-03-27       ANA     7422  28.445
12024  2019-03-28       ANA     7422  30.520
12025  2019-03-29       ANA     7422  32.301
12026  2019-03-30       ANA     7422  31.583
12027  2019-03-31       ANA     7422  30.520

[62 rows x 4 columns]

In [222]:
df_filter.dropna(inplace=True)
df_filter

             date agency_cd  site_no  vazoes
11997  2019-03-01       ANA     7422  19.678
11998  2019-03-02       ANA     7422  23.249
11999  2019-03-03       ANA     7422  24.502
12000  2019-03-04       ANA     7422  24.502
12001  2019-03-05       ANA     7422  23.249
12002  2019-03-06       ANA     7422  23.249
12003  2019-03-07       ANA     7422  23.249
12004  2019-03-08       ANA     7422  22.028
12005  2019-03-09       ANA     7422  22.028
12006  2019-03-10       ANA     7422  22.635
12007  2019-03-11       ANA     7422  22.330
12008  2019-03-12       ANA     7422  22.028
12009  2019-03-13       ANA     7422  22.028
12010  2019-03-14       ANA     7422  22.028
12011  2019-03-15       ANA     7422  21.428
12012  2019-03-16       ANA     7422  21.428
12013  2019-03-17       ANA     7422  21.428
12014  2019-03-18       ANA     7422  20.837
12015  2019-03-19       ANA     7422  19.678
12016  2019-03-20       ANA     7422  19.678
12017  2019-03-21       ANA     7422  20.254
12018  2019-03-22       ANA     7422  20.544
12019  2019-03-23       ANA     7422  21.428
12020  2019-03-24       ANA     7422  23.872
12021  2019-03-25       ANA     7422  30.520
12022  2019-03-26       ANA     7422  30.169
12023  2019-03-27       ANA     7422  28.445
12024  2019-03-28       ANA     7422  30.520
12025  2019-03-29       ANA     7422  32.301
12026  2019-03-30       ANA     7422  31.583
12027  2019-03-31       ANA     7422  30.520

In [223]:
df_filter = df_filter.rename(columns={'date': 'Date', 'vazoes': 'obs'})
df_filter

             Date agency_cd  site_no     obs
11997  2019-03-01       ANA     7422  19.678
11998  2019-03-02       ANA     7422  23.249
11999  2019-03-03       ANA     7422  24.502
12000  2019-03-04       ANA     7422  24.502
12001  2019-03-05       ANA     7422  23.249
12002  2019-03-06       ANA     7422  23.249
12003  2019-03-07       ANA     7422  23.249
12004  2019-03-08       ANA     7422  22.028
12005  2019-03-09       ANA     7422  22.028
12006  2019-03-10       ANA     7422  22.635
12007  2019-03-11       ANA     7422  22.330
12008  2019-03-12       ANA     7422  22.028
12009  2019-03-13       ANA     7422  22.028
12010  2019-03-14       ANA     7422  22.028
12011  2019-03-15       ANA     7422  21.428
12012  2019-03-16       ANA     7422  21.428
12013  2019-03-17       ANA     7422  21.428
12014  2019-03-18       ANA     7422  20.837
12015  2019-03-19       ANA     7422  19.678
12016  2019-03-20       ANA     7422  19.678
12017  2019-03-21       ANA     7422  20.254
12018  2019-03-22       ANA     7422  20.544
12019  2019-03-23       ANA     7422  21.428
12020  2019-03-24       ANA     7422  23.872
12021  2019-03-25       ANA     7422  30.520
12022  2019-03-26       ANA     7422  30.169
12023  2019-03-27       ANA     7422  28.445
12024  2019-03-28       ANA     7422  30.520
12025  2019-03-29       ANA     7422  32.301
12026  2019-03-30       ANA     7422  31.583
12027  2019-03-31       ANA     7422  30.520

In [225]:
df_filter.index = range(len(df_filter))

In [226]:
pyreadr.write_rdata("obsStrData.Rdata", df_filter, df_name="obsStrData")